---
layout: default
---

{% assign index = true %}
<div itemscope itemtype="http://schema.org/Blog">
{% for post in paginator.posts %}
{% assign content = post.content %}
    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">{% include article.html %}</article>
{% endfor %}
</div>
<nav id="pagenavi">
  
    {% if paginator.total_pages > 1 %}
    <div class="pagination">
        <div class=center >
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Prev</a>
        {% else %}
        <span>&larr; Prev</span>
        {% endif %}
        
        {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
        <em>{{ page }}</em>
        {% elsif page == 1 %}
        <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
        {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
        {% endfor %}
        
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &rarr;</a>
        {% else %}
        <span>Next &rarr;</span>
        {% endif %}
        </div>
    </div>
    {% endif %}
    
    <div class="center"><a href="{{ root_url }}/blog/archives">Blog Archives</a></div>
</nav>
